# Explore here

In [2]:
# 0) Imports y paths
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

RAW = Path("../data/raw/internal-link.csv")

# 1) Carga
df = pd.read_csv(RAW)

# 2) Vista rápida
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# Eliminar duplicados
df.drop("id", axis =1).duplicated().sum()

np.int64(0)

In [4]:
# Eliminar variables "inútiles"
df.drop(["id", "name","host_name", "latitude", "longitude"], axis = 1, inplace = True)
df.head()

,host_id,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,Private room,149,1,9,2018-10-19,0.21,6,365
1,2845,Manhattan,Midtown,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,4632,Manhattan,Harlem,Private room,150,3,0,NaN,NaN,1,365
3,4869,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,7192,Manhattan,East Harlem,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [2]:
# --- Helpers
def top_count(df, col, n=20):
    """Devuelve un DataFrame con Top-N categorías por frecuencia."""
    s = df[col].value_counts().head(n)
    out = s.reset_index()
    out.columns = [col, "count"]
    return out

fig, axes = plt.subplots(2, 2, figsize=(12, 8))
(ax00, ax01), (ax10, ax11) = axes

# 1) host_id (Top 20 hosts con más listings)
top_hosts = top_count(df, "host_id", n=20)
sns.barplot(data=top_hosts, y="host_id", x="count", ax=ax00)
ax00.set_title("Top 20 host_id por nº de listings")
ax00.set_xlabel("Listings")
ax00.set_ylabel("host_id")

# 2) neighbourhood_group (son 5 categorías -> countplot directo)
sns.countplot(data=df, x="neighbourhood_group", ax=ax01, order=df["neighbourhood_group"].value_counts().index)
ax01.set_title("neighbourhood_group")
ax01.set_xlabel("")
ax01.tick_params(axis="x", rotation=15)

# 3) neighbourhood (Top 20 barrios)
top_neigh = top_count(df, "neighbourhood", n=20)
sns.barplot(data=top_neigh, y="neighbourhood", x="count", ax=ax10)
ax10.set_title("Top 20 neighbourhood")
ax10.set_xlabel("Listings")
ax10.set_ylabel("neighbourhood")

# 4) room_type (3–4 categorías -> countplot directo)
sns.countplot(data=df, x="room_type", ax=ax11, order=df["room_type"].value_counts().index)
ax11.set_title("room_type")
ax11.set_xlabel("")
ax11.tick_params(axis="x", rotation=15)

plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [14]:
# 3) Duplicados (por id)
if "id" in df.columns:
    print("Duplicados por id:", df["id"].duplicated().sum())

# 4) Descriptivas de numéricas
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
display(df[num_cols].describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]).T)

# 5) Sanity checks típicos
assert (df["price"]>=0).all(), "Hay precios negativos"
print("Precios = 0:", (df["price"]==0).sum())
print("minimum_nights <=0:", (df["minimum_nights"]<=0).sum())

# 6) Categóricas clave
cat_cols = ["neighbourhood_group","neighbourhood","room_type"]
for c in cat_cols:
    if c in df.columns:
        display(df[c].value_counts(dropna=False).to_frame("count"))

Duplicados por id: 0

,count,mean,std,min,1%,5%,25%,50%,75%,95%,99%,max
id,48895.0,1.901714e+07,1.098311e+07,2539.00000,171715.100000,1.222383e+06,9.471945e+06,1.967728e+07,2.915218e+07,3.525910e+07,3.623888e+07,3.648724e+07
host_id,48895.0,6.762001e+07,7.861097e+07,2438.00000,100692.200000,8.155641e+05,7.822033e+06,3.079382e+07,1.074344e+08,2.417646e+08,2.677118e+08,2.743213e+08
latitude,48895.0,4.072895e+01,5.453008e-02,40.49979,40.596687,4.064611e+01,4.069010e+01,4.072307e+01,4.076311e+01,4.082564e+01,4.086466e+01,4.091306e+01
longitude,48895.0,-7.395217e+01,4.615674e-02,-74.24442,-74.026774,-7.400388e+01,-7.398307e+01,-7.395568e+01,-7.393627e+01,-7.386577e+01,-7.377692e+01,-7.371299e+01
price,48895.0,1.527207e+02,2.401542e+02,0.00000,30.000000,4.000000e+01,6.900000e+01,1.060000e+02,1.750000e+02,3.550000e+02,7.990000e+02,1.000000e+04
minimum_nights,48895.0,7.029962e+00,2.051055e+01,1.00000,1.000000,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,3.000000e+01,4.500000e+01,1.250000e+03
number_of_reviews,48895.0,2.327447e+01,4.455058e+01,0.00000,0.000000,0.000000e+00,1.000000e+00,5.000000e+00,2.400000e+01,1.140000e+02,2.140000e+02,6.290000e+02
reviews_per_month,38843.0,1.373221e+00,1.680442e+00,0.01000,0.020000,4.000000e-02,1.900000e-01,7.200000e-01,2.020000e+00,4.640000e+00,7.195800e+00,5.850000e+01
calculated_host_listings_count,48895.0,7.143982e+00,3.295252e+01,1.00000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.500000e+01,2.320000e+02,3.270000e+02
availability_365,48895.0,1.127813e+02,1.316223e+02,0.00000,0.000000,0.000000e+00,0.000000e+00,4.500000e+01,2.270000e+02,3.590000e+02,3.650000e+02,3.650000e+02

Precios = 0: 11
minimum_nights <=0: 0

                     count
neighbourhood_group
Manhattan            21661
Brooklyn             20104
Queens                5666
Bronx                 1091
Staten Island          373

                    count
neighbourhood
Williamsburg         3920
Bedford-Stuyvesant   3714
Harlem               2658
Bushwick             2465
Upper West Side      1971
...                   ...
Richmondtown            1
Fort Wadsworth          1
New Dorp                1
Rossville               1
Willowbrook             1

[221 rows x 1 columns]

                 count
room_type
Entire home/apt  25409
Private room     22326
Shared room       1160